<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt</title>
    <style>
    *{
        margin:0;
        padding:0;
      
    }

    hr{
  
        height:1px;
        width:100%;
        background: rgb(166, 164, 164);
    }

.parking-text{
     font-size:40px;
    font-weight: 700; 
    color:#0F296E; 
    padding:20px;
}
@media (max-width: 768px) {
   .logo-img{
    height:100%;
   }
   .parking-text{
    font-size:25px;
   }
}
    </style>
</head>
<body>
    <section>
    <div style="width: 100%; display:flex;">
        <div style="width: 70%;">
            <img src="https://connectedparking.ca/goc_api/uploads/icons/10.png.png" width="30%">
        </div>
        <div style="width: 30%; text-align: end; margin: auto;">
            <h2 style="color:#0F296E; font-size:32px;">PARKING RECEIPT</h2>
        </div>
    </div>
    </section>
    <section>
    <div style="width: 90%; margin:auto" >
       
        <hr style="height: 1px;border: none;color: #c2c2c2;background-color: #bbb8b8;"/>
        <div style="width: 100%; display:flex; margin-top: 13px;">
            <div style="width: 50%; display: flex;">
                <img src="https://connectedparking.ca/goc_api/uploads/icons/4.png" height="50px">
                <h3 style="color:#0F296E; font-size:22px; margin: auto; margin-left: 0;">PARKING ID</h3>
            </div>
            <div style="width: 50%; text-align: end; margin: auto;">
                <h3 style="color:#0F296E;font-size:22px;"><%= parking_id %></h3>
            </div>
        </div>

        <div style="display:flex; text-align:center; width: 100%; margin-bottom: 15px;">
        <div style="width: 33%;">
            <img src="https://connectedparking.ca/goc_api/uploads/icons/1.png" width="100px" alt="">
            <h3 style="color:#0F296E"><%= startDate %></h3>
            <h3 style="color:#0F296E; font-size:28px"><%= startTime %></h3>
        </div>
        <div style="width: 34%;">
            <img src="https://connectedparking.ca/goc_api/uploads/icons/2.png" width="100px"alt="">
        </div>
        <div style="width: 33%;">
            <img src="https://connectedparking.ca/goc_api/uploads/icons/3.png" width="100px"alt="">
            <h3 style="color:#0F296E"><%= endDate %></h3>
            <h3 style="color:#0F296E; font-size:28px"><%= endTime %></h3>
        </div>
        </div>
        <hr style="height: 1px;border: none;color: #c2c2c2;background-color: #bbb8b8;"/>
        <div style="display:flex; align-items:center; padding:5px" >
            <img src="https://connectedparking.ca/goc_api/uploads/icons/5.png" height="50px"></img>
            <p style="color: #323030; margin: auto; margin-left: 0;"><%= zone %>, <%= city %></p>
        </div>
        <hr style="height: 1px;border: none;color: #c2c2c2;background-color: #bbb8b8;"/>
        <div style="display:flex; align-items:center; padding:5px">
            <img src="https://connectedparking.ca/goc_api/uploads/icons/6.png" height="50px"></img>
            <p style="color: #323030;margin: auto; margin-left: 0;"><%= plate %></p>
        </div>
        <hr style="height: 1px;border: none;color: #c2c2c2;background-color: #bbb8b8;"/>
        <div style="display:flex; place-items: center; padding:5px">
            <img src="https://connectedparking.ca/goc_api/uploads/icons/7.png" height="50px"></img>
            <p style="color: #323030;margin: auto; margin-left: 0;"><%= rate %></p>
        </div>
        <hr style="height: 1px;border: none;color: #c2c2c2;background-color: #bbb8b8;"/>
        <div style="display:flex; align-items:center; padding:5px">
            <div style="width: 50%; display: flex;">
                <img src="https://connectedparking.ca/goc_api/uploads/icons/8.png" height="50px">
                <h3 style="color:#0F296E; font-size:22px; margin: auto; margin-left: 0;">Service Fee</h3>
            </div>
            <div style="width: 50%; text-align: end; margin: auto;">
                <h3 style="color:#0F296E;font-size:22px;"><%= service_fee %> $</h3>
            </div>
        </div>
        <hr style="height: 1px;border: none;color: #c2c2c2;background-color: #bbb8b8;"/>
        <div style="width: 100%; display:flex; margin-top: 13px;">
            <div style="width: 50%; display: flex;">
                <img src="https://connectedparking.ca/goc_api/uploads/icons/9.png" height="50px">
                <h3 style="color:#0F296E; font-size:22px; margin: auto; margin-left: 0;">Amount Paid</h3>
            </div>
            <div style="width: 50%; text-align: end; margin: auto;">
                <h3 style="color:#0F296E;font-size:22px;"><%= amount %> $</h3>
            </div>
        </div>
    </div>
    <img src="https://connectedparking.ca/goc_api/uploads/icons/12.png" style="width: 100%">
</section>

</body>
</html>